{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository">
	{{template "repo/header" .}}
	<div class="ui container">
		<h2 class="ui dividing header tw-flex tw-justify-between tw-mb-4">
			<div>
				{{ctx.Locale.Tr "repo.compute"}}
			</div>
			<!-- Dropdown select branch -->
			{{template "repo/branch_dropdown" dict "root" .
				"disableCreateBranch" true
				"branchURLPrefix"  "compute?branch="
				"tagURLPrefix" "compute?tag="}}
		</h2>

		{{template "base/alert" .}}

		<script type="module">
			// Initializing data from template to Vue
			const data = {
				canCompute: {{ .CanCompute }},
				machines:  [{{range .Machines}} JSON.parse({{JsonUtils.EncodeToString . }}),{{end}}],
				branch: '{{ .BranchName }}',
				tag: '{{ .TagName }}'
			}
			window.config.computeData = data;
		</script>
		<!-- Vue mount -->
		<div id="repo-compute-app"></div>
	</div>
</div>
{{template "base/footer" .}}
