{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository new repo">
	<div id="loader" class="ui dimmer">
		<div class="ui big text loader">Generating template...</div>
	</div>
	<div class="ui middle very relaxed page one column grid">
		<div class="column">
			<form id="form" class="ui form" action="{{.Link}}" method="post">
				{{.CsrfTokenHtml}}
				<h3 class="ui top attached header">
					{{ctx.Locale.Tr "new_repo"}}
				</h3>
				<div class="ui attached segment">
					{{template "base/alert" .}}
					{{template "repo/create_helper" .}}

					{{if not .CanCreateRepo}}
						<div class="ui negative message">
							<p>{{ctx.Locale.TrN .MaxCreationLimit "repo.form.reach_limit_of_creation_1" "repo.form.reach_limit_of_creation_n" .MaxCreationLimit}}</p>
						</div>
					{{end}}
					<div class="inline required field {{if .Err_Owner}}error{{end}}">
						<label>{{ctx.Locale.Tr "repo.owner"}}</label>
						<div class="ui selection owner dropdown">
							<input type="hidden" id="uid" name="uid" value="{{.ContextUser.ID}}" required>
							<span class="text truncated-item-container" title="{{.ContextUser.Name}}">
								{{ctx.AvatarUtils.Avatar .ContextUser 28 "mini"}}
								<span class="truncated-item-name">{{.ContextUser.ShortName 40}}</span>
							</span>
							{{svg "octicon-triangle-down" 14 "dropdown icon"}}
							<div class="menu">
								<div class="item truncated-item-container" data-value="{{.SignedUser.ID}}" title="{{.SignedUser.Name}}">
									{{ctx.AvatarUtils.Avatar .SignedUser 28 "mini"}}
									<span class="truncated-item-name">{{.SignedUser.ShortName 40}}</span>
								</div>
								{{range .Orgs}}
									<div class="item truncated-item-container" data-value="{{.ID}}" title="{{.Name}}">
										{{ctx.AvatarUtils.Avatar . 28 "mini"}}
										<span class="truncated-item-name">{{.ShortName 40}}</span>
									</div>
								{{end}}
							</div>
						</div>
						<span class="help">{{ctx.Locale.Tr "repo.owner_helper"}}</span>
					</div>

					<div class="inline required field {{if .Err_RepoName}}error{{end}}">
						<label for="repo_name">{{ctx.Locale.Tr "repo.repo_name"}}</label>
						<input id="repo_name" name="repo_name" value="{{.repo_name}}" autofocus required maxlength="100">
						<span class="help">{{ctx.Locale.Tr "repo.repo_name_helper"}}</span>
					</div>

					<br>
					<div class="inline field">
						<label></label>
						<button class="ui primary button{{if not .CanCreateRepo}} disabled{{end}}">
							{{ctx.Locale.Tr "repo.create_repo"}}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	(function() {
		const loader = document.getElementById("loader")
		const form = document.getElementById("form")
		
		form.addEventListener("submit", (e) => {
			loader.classList.add("active")
		})
	})();
</script>
{{template "base/footer" .}}
