# Gitea Environment Variables
# See other available environment at https://github.com/go-gitea/gitea/blob/main/contrib/environment-to-ini/README
GITEA__database__DB_TYPE=mysql
GITEA__database__HOST=db:3306
GITEA__database__NAME=dhs-gitea
GITEA__database__USER=dhs-gitea
GITEA__database__PASSWD=dhs-gitea-secret

# MySQL Environment Variables
MYSQL_ROOT_PASSWORD=dhs-gitea-rootsecret
MYSQL_DATABASE=dhs-gitea
MYSQL_USER=dhs-gitea
MYSQL_PASSWORD=dhs-gitea-secret

# Instance config
TENANT=main
GITEA_PORT=3000
SSH_PORT=222

# image tag
IMAGE_TAG_DHS_GITEA=latest