<div class="flex-item">
	<form class="ui form" action="{{.Link}}/toggle/theme" method="post">
		{{.CsrfTokenHtml}}
		<div class="field">
			<button class="buttons basic ui">
				{{svg "material-invert-colors"}}
			</button>
		</div>
	</form>
</div>
