{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings devpod-credential")}}

<div class="org-setting-content">
	<h4 class="ui top attached header">
		{{ctx.Locale.Tr "org.settings.devpod_credential"}}

		<div class="ui right">
			<a href="{{.Link}}/new" class="ui primary tiny toggle button">
				{{ctx.Locale.Tr "org.settings.create_devpod_credential"}}
			</a>
		</div>
	</h4>

	<script type="module">
		// Initializing data from template to Vue
		const data = {
			link: "{{$.Link}}",
			csrfToken : "{{$.CsrfToken}}",
			credentials: [{{range .Credentials}} JSON.parse({{JsonUtils.EncodeToString . }}),{{end}}],
		}
		window.config.settingsDevpodCredentialData = data;
	</script>

	<!-- Vue mount -->
	<div id="setting-devpod-credential-app" class="ui attached segment"></div>

</div>
	{{template "org/settings/layout_footer" .}}
