{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings devpod-credential")}}

			<div class="org-setting-content">
				<h4 class="ui top attached header">
					{{ctx.Locale.Tr "org.settings.devpod-credential"}}
				</h4>
				<div class="ui attached segment">
					<form class="ui form" action="{{.Link}}" method="post">
						{{.CsrfTokenHtml}}

						<input name="id" type="hidden" value="{{.Credential.ID}}" />
						<div class="field">
							<label for="remote">{{ctx.Locale.Tr "org.settings.devpod_credential_remote"}}</label>
							<input id="remote" name="remote" type="text" value="{{.Credential.Remote}}" placeholder="aquarepo" />
						</div>

						<div class="field">
							<label for="key">{{ctx.Locale.Tr "org.settings.devpod_credential_key"}}</label>
							<input id="key" name="key" type="text" value="{{.Credential.Key}}" placeholder="access_key_id"/>
						</div>

						<div class="field">
							<label for="value">{{ctx.Locale.Tr "org.settings.devpod_credential_value"}}</label>
							<input id="value" name="value" type="text" value="{{.Credential.Value}}" placeholder="e829f5fe9959141"/>
						</div>

						<button class="ui primary button gt-db gt-ml-auto">
							{{ctx.Locale.Tr "org.settings.update_devpod_credential"}}
						</button>

					</form>
				</div>
			</div>


{{template "org/settings/layout_footer" .}}
