{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings gitea-token")}}

<div class="org-setting-content">
	<h4 class="ui top attached header">
		{{ctx.Locale.Tr "org.settings.gitea_token"}}

		<div class="sub header gt-mt-3" style="padding-right: 8rem">
			The containers are set up and managed using DevPod.
			DevPod already provides automatic transmission of specific credentials such as Git or Docker.
			Moreover, user-specific credentials can be passed on to the containers.
			For instance, this is where the user generated Access Tokens for Private Repositories are
			specified to allow Compute to clone the repository.
		</div>

		<div class="ui right">
			<a href="{{.Link}}/new" class="ui primary tiny toggle button">
				{{ctx.Locale.Tr "org.settings.create_gitea_token"}}
			</a>
		</div>
	</h4>

	<script type="module">
		// Initializing data from template to Vue
		const data = {
			link: "{{$.Link}}",
			csrfToken : "{{$.CsrfToken}}",
			tokens: [{{range .Tokens}} JSON.parse({{JsonUtils.EncodeToString . }}),{{end}}],
		}
		window.config.settingsGiteaTokenData = data;
	</script>

	<!-- Vue mount -->
	<div id="setting-gitea-token-app" class="ui attached segment"></div>

</div>
	{{template "org/settings/layout_footer" .}}
