{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings gitea-token")}}

			<div class="org-setting-content">
				<h4 class="ui top attached header">
					{{ctx.Locale.Tr "org.settings.gitea_token"}}
				</h4>
				<div class="ui attached segment">
					<form class="ui form" action="{{.Link}}" method="post">
						{{.CsrfTokenHtml}}

						<div class="field">
							<label for="name">{{ctx.Locale.Tr "org.settings.gitea_token_name"}}</label>
							<input id="name" name="name" type="text" placeholder="Dev"/>
						</div>

						<div class="field">
							<label for="token">{{ctx.Locale.Tr "org.settings.gitea_token_token"}}</label>
							<input id="token" name="token" type="text" placeholder="e829f5fe99591411878cc8b031d5f70c9481982g"/>
						</div>

						<button class="ui primary button">
							{{ctx.Locale.Tr "org.settings.create_gitea_token"}}
						</button>

					</form>
				</div>
			</div>


{{template "org/settings/layout_footer" .}}
