{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings machine")}}

			<div class="org-setting-content">
				<h4 class="ui top attached header">
					{{ctx.Locale.Tr "org.settings.machine_form"}}

					<div class="ui right">
						<a href="{{.Link}}/new" class="ui primary tiny toggle button">
							{{ctx.Locale.Tr "org.settings.create_machine"}}
						</a>
					</div>
				</h4>

				<script type="module">
					// Initializing data from template to Vue
					const data = {
						link: "{{$.Link}}",
						csrfToken : "{{$.CsrfToken}}",
						machines: [{{range .Machines}} JSON.parse({{JsonUtils.EncodeToString . }}),{{end}}],
					}
					window.config.settingsMachineData = data;
				</script>

				<!-- Vue mount -->
				<div id="setting-machine-app" class="ui attached segment"></div>

			</div>
{{template "org/settings/layout_footer" .}}
