{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings machine")}}

			<div class="org-setting-content">
				<h4 class="ui top attached header">
					{{ctx.Locale.Tr "org.settings.machine_form"}}

					<div class="sub header gt-mt-3" style="padding-right: 8rem">
						This section provides an overview of all remote machines available for your organization.
						When a task is executed on a remote machine, the platform establishes a secure SSH connection
						using a public key. For this connection to be successful, the platform's public key must
						already be registered on the remote machine.
						<br>
						<br>
						You can manage SSH keys in the "SSH Keys" section to ensure the correct key is in place.
						A remote machine will reject any connection attempt if the platform's public key hasn't been
						added to its authorized_keys file in advance.
						<br>
						<br>
						Its important to note that the SSH Key is used to establish the connection only. If you run
						a private repository, you need to provide a Gitea Token in addition.
					</div>

					<div class="ui right">
						<a href="{{.Link}}/new" class="ui primary tiny toggle button">
							{{ctx.Locale.Tr "org.settings.create_machine"}}
						</a>
					</div>
				</h4>

				<script type="module">
					// Initializing data from template to Vue
					const data = {
						link: "{{$.Link}}",
						csrfToken : "{{$.CsrfToken}}",
						machines: [{{range .Machines}} JSON.parse({{JsonUtils.EncodeToString . }}),{{end}}],
					}
					window.config.settingsMachineData = data;
				</script>

				<!-- Vue mount -->
				<div id="setting-machine-app" class="ui attached segment"></div>

			</div>
{{template "org/settings/layout_footer" .}}
