{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings machine")}}

			<div class="org-setting-content">
				<h4 class="ui top attached header">
					{{ctx.Locale.Tr "org.settings.machine_form"}}
				</h4>
				<div class="ui attached segment">
					<form class="ui form" action="{{.Link}}" method="post">
						{{.CsrfTokenHtml}}

						<input type="hidden" name="id" value="{{ .ID }}" >

						<div class="field">
							<label for="name">{{ctx.Locale.Tr "org.settings.machine_name"}}</label>
							<input id="name" name="name" type="text" value="{{ .Machine.Name}}"/>
						</div>

						<div class="field">
							<label for="user">{{ctx.Locale.Tr "org.settings.machine_user"}}</label>
							<input type="text" id="user" name="user" value="{{ .Machine.User }}" />
						</div>

						<div class="field">
							<label>{{ctx.Locale.Tr "org.settings.machine_ssh_key"}}</label>
							<select name="ssh_key">
								{{range .Keys}}
								<option value="{{ .ID }}" {{if eq $.Machine.SshKey .ID }}selected {{end}} >{{ .Name }}</option>
								{{ end }}
							</select>

						</div>

						<div class="field">
							<label for="host">{{ctx.Locale.Tr "org.settings.machine_host"}}</label>
							<input type="text" id="host" name="host" value="{{ .Machine.Host}}"/>
						</div>

						<div class="field">
							<label for="port">{{ctx.Locale.Tr "org.settings.machine_port"}}</label>
							<input type="number" id="port" name="port" value="{{ .Machine.Port}}"/>
						</div>

						<button class="ui primary button">
							{{ctx.Locale.Tr "org.settings.update_machine"}}
						</button>

					</form>
				</div>
			</div>


{{template "org/settings/layout_footer" .}}
