{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings machine")}}

			<div class="org-setting-content">
				<h4 class="ui top attached header">
					{{ctx.Locale.Tr "org.settings.machine_form"}}
				</h4>
				<div class="ui attached segment">
					<form class="ui form" action="{{.Link}}" method="post">
						{{.CsrfTokenHtml}}

						<div class="field">
							<label for="name">{{ctx.Locale.Tr "org.settings.machine_name"}}</label>
							<input id="name" name="name" type="text" placeholder="Dev"/>
						</div>

						<div class="field">
							<label for="user">{{ctx.Locale.Tr "org.settings.machine_user"}}</label>
							<input type="text" id="user" name="user" placeholder="jhon"/>
						</div>

						<div class="field">
							<label>{{ctx.Locale.Tr "org.settings.machine_ssh_key"}}</label>
							<select name="ssh_key" class="ui fluid dropdown">
								{{/*								Empty value to choose */}}
								<option value="0"></option>
								{{range .Keys}}
								<option value="{{ .ID }}">{{ .Name }}</option>
								{{ end }}
							</select>

						</div>

						<div class="field">
							<label for="host">{{ctx.Locale.Tr "org.settings.machine_host"}}</label>
							<input type="text" id="host" name="host" placeholder="dev.remotemachine.com"/>
						</div>

						<div class="field">
							<label for="port">{{ctx.Locale.Tr "org.settings.machine_port"}}</label>
							<input type="number" id="port" name="port" placeholder="22"/>
						</div>

						<button class="ui primary button gt-db gt-ml-auto">
							{{ctx.Locale.Tr "org.settings.create_machine"}}
						</button>

					</form>
				</div>
			</div>


{{template "org/settings/layout_footer" .}}
