{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings ssh")}}

			<div class="org-setting-content">
				<h4 class="ui top attached header">
					{{ctx.Locale.Tr "org.settings.ssh_key_form"}}

					<div class="sub header gt-mt-3" style="padding-right: 8rem;">
							Creates a public-key pair (ECC/RSA) within your organization.
						This key pair enables your organization access to the target remote machine via SSH.
						To accomplish this, insert the public key into <span class="gt-font-semibold">/&lt;user&gt;/.ssh/authorized_keys</span>
						on the remote machine once, ensuring the remote system acknowledges and authorizes this specific key set.
					</div>

					<div class="ui right">
						<a href="{{.Link}}/new" class="ui primary tiny toggle button">
							{{ctx.Locale.Tr "org.settings.create_ssh_key"}}
						</a>
					</div>
				</h4>

				<script type="module">
					// Initializing data from template to Vue
					const data = {
						link: "{{$.Link}}",
						csrfToken : "{{$.CsrfToken}}",
						sshKeys: [{{range .SshKeys}} JSON.parse({{JsonUtils.EncodeToString . }}),{{end}}],
					}
					window.config.settingSshData = data;
				</script>

				<!-- Vue mount -->
				<div id="setting-ssh-key-app" class="ui attached segment"></div>

			</div>

{{template "org/settings/layout_footer" .}}
