{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings delete")}}

			<div class="org-setting-content">
				<h4 class="ui top attached header">
					{{ctx.Locale.Tr "org.settings.ssh_key_form"}}
				</h4>
				<div class="ui attached segment">
					<form class="ui form" action="{{.Link}}" method="post">
						{{.CsrfTokenHtml}}

						<div class="field {{if .Err_Name}}error{{end}}">
							<label for="name">{{ctx.Locale.Tr "org.settings.ssh_key_name"}}</label>
							<input id="name" name="key_name" type="text">{{.SshKey.Name}}</input>
						</div>

						<div class="field {{if .Err_Public_Key}}error{{end}}">
							<label for="public_key">{{ctx.Locale.Tr "org.settings.ssh_public_key"}}</label>
							<textarea id="public_key" name="public_key" rows="10">{{.SshKey.PublicKey}}</textarea>
						</div>

						<div class="field {{if .Err_Private_Key}}error{{end}}">
							<label for="private_key">{{ctx.Locale.Tr "org.settings.ssh_private_key"}}</label>
							<textarea id="private_key" name="private_key" rows="10">{{.SshKey.PrivateKey}}</textarea>
						</div>

						<button class="ui primary button">
							{{ctx.Locale.Tr "org.settings.update_ssh_key"}}
						</button>
					</form>
				</div>
			</div>


{{template "org/settings/layout_footer" .}}
