{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content dashboard issues">
	<div class="ui container">
		<article>
			<h1>Getting Started</h1>
			<h2>How To Start With New Project</h2>
			<h3>Run experiments in Sandbox</h3>
			<a class="ui primary button gt-mb-5" href="{{AppSubUrl}}/repo/create-from-template">
				{{ctx.Locale.Tr "New Project From Template"}}
			</a>
			<h4>How to run experiments locally:</h4>

			<ul>
				<li class="gt-mb-2">Create a repo on remote machine.</li>
				<li class="gt-mb-2">In Organization dashboard, look for New Repository then create repository after fill in all necessary data.</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/55b0eb89-737f-48c8-9f04-2c4fa6ed0d2c/136cf353-e251-4ef5-a6c8-6c28a826af8b" />
				<li class="gt-mb-2">After new repository created, go to the repo page, and it will be something like this.</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/eb31732d-0e06-4a85-acfc-110f5e4d8953/0113bbf4-90a5-4ba7-8cde-6a7a7eabfb5f" />
				<li class="gt-mb-2">To initially add new file, you can do it by click to the Add File button, and select Upload File.</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/5484e607-3589-4ee0-888a-0d888e08b07b/74cded93-3b66-451e-98c0-d236cc00dd1b" />
				<li class="gt-mb-2">After upload all necessary files, press Commit Changes and repo page will look something like this.</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/fb6a8582-21f8-4a79-ba9b-55ade7b53ac7/9c677275-c318-4404-8329-c0671f2ee662" />
				<li class="gt-mb-2">To clone the repo to our local machine, we can do it via SSH or HTTPS, copy the SSH/HTTPS link on the repo page.</li>
				<li class="gt-mb-2">Run this command from the local terminal <code>git clone &lt;SSH/HTTPS link&gt;</code></li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/eb8fb93d-a749-432d-bb9d-a9c199458348/0a541bc6-5024-4d9f-a05f-f1c51fec5279" />
				<li class="gt-mb-2">Create new conda environment for this repository on you machine</li>
				<li class="gt-mb-2">Installing all required package by running this script <code>pip install -r ./requirements.txt</code></li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/07d10019-a4ef-4f02-9b66-1ad2180db9a8/a0ac5601-e669-44f9-b23a-25855b3b8c37" />
				<li class="gt-mb-2">Run python3 test.py or python test.py depends which one works</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/12e22da8-b2d7-4483-85b8-7bcf4da6c98e/c649329d-1279-45e5-a782-c8695ca94cd2" />
				<li class="gt-mb-2">After that, new folder dvclive should be created.</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/0720a5ae-7202-4784-85e7-50bae1cb47c6/c0f837a0-a0bb-4060-8de8-31181ed168ae" />
				<li class="gt-mb-2">If you want to share your local results directly within the sandbox, you could push your changes directly to remote repository:</li>
				<li class="gt-mb-2">Finally upload or push the result into the repository using these commands:</li>
				<ul class="gt-mb-2">
					<li>git add -A</li>
					<li>git commit -m "update file"</li>
					<li>git push</li>
					<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/33b2b8c1-0b99-46fe-bf07-a995f9f87603/32fe5101-d385-422d-852d-b39b0ddce7c6" />
				</ul>
				<li class="gt-mb-2">After pushed to remote repository, then the updated file dvclive should be showed up.</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/cfc0775e-8efa-4ec3-823e-d0ebed89650d/49ef026a-d393-4c4f-b46d-1d1497c75856" />
			</ul>

			<h4>How to connect DVC to track data:</h4>
			<ul>
				<li class="gt-mb-2">Run dvc init - this will add .dvc/config file</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/e7aa0ea3-dc1a-4336-bd65-3116d69c9a6a/479f6c41-3873-4c4a-b05c-1c41e87ec33c" />
				<li class="gt-mb-2">Add remote file configuration by executing this commands:</li>
				<ul class="gt-mb-2">
					<li class="gt-mb-2">dvc remote add -d aquaremote s3://aqua01 --force</li>
					<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/392e047d-2882-4400-a8c0-59e08b125fb2/503f74d4-a9de-4206-969b-ec9ca8c61b47" />
					<li class="gt-mb-2">dvc remote modify aquaremote endpointurl https://sos-de-fra-1.exo.io. Those commands will add configurations to .dvc/config file</li>
					<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/7df7b96c-1ea7-4525-9b67-4f7901b23f52/74f08b35-41dd-4d9d-9aed-d6ce8f7123bc" />
				</ul>
				<li class="gt-mb-2">After DVC config has been set, you need to set AWS credentials. Here is how to set AWS credentials</li>
				<ul class="gt-mb-2">
					<li>Please install AWS CLI by following this installation page from AWS https://docs.aws.amazon.com/cli/latest/userguide/getting-started-install.html</li>
					<li>After done installation, type aws configure on terminal</li>
					<li class="gt-mb-2">Then fill in your AWS Access Key ID and AWS Secret Access Key. It will create files inside ~/.aws</li>
					<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/453c5fd9-8d73-450a-9235-5838c747620a/15ec3b3f-1860-4621-977a-5ab736e9e652" />
				</ul>

				<li class="gt-mb-2">After both DVC and AWS config has been set, then you can start connect and DVC data. Use dvc pull to fetch data and dvc push to update data.</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/6c92a45f-36c7-4197-a2cc-30dd8cff3b0a/673f96a3-fe7c-4725-a5df-59c6995e9190" />
				<li class="gt-mb-2">Then finally commit all changes and push the repo using these commands.</li>
				<ul class="gt-mb-2">
					<li>git add -A</li>
					<li>git commit -m "update .dvc/config file"</li>
					<li class="gt-mb-2">git push</li>
					<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/f7204c8d-c301-4d8c-ae7f-1edeb6a4c8cf/d4bc120b-76f7-4201-bc94-98a26b2556b9" />
				</ul>

				<li class="gt-mb-2">After pushed to remote repository, then the new created file .dvc should be showed up in remote repository as well.</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/cfc0775e-8efa-4ec3-823e-d0ebed89650d/49ef026a-d393-4c4f-b46d-1d1497c75856" />
			</ul>

			<br />

			<h2>How to add a remote execution environment</h2>
			<h3>Connect Remote Machine within tenant</h3>
			<ul>
				<li class="gt-mb-2">Suppose new organization repo has been created.</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/c33a0b8c-f9c0-480d-ad05-05e95961906b/385ec539-6dee-4c5d-922d-a71dc3b4951f" />
				<li class="gt-mb-2">Go to organization's setting and  SSH Key. We need to add ssh key from the remote machine. Insert the public key into <code>/&lt;user&gt;/.ssh/authorized_keys</code> on the remote machine.</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/25ecb8f7-dec4-493d-b299-3ce2f9c11016/34ec1804-c8ca-4fd3-ad84-d0e9722588ce" />
				<li class="gt-mb-2">Add remote machine where the experiment would be run on.</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/119c7360-707d-48b7-b7a5-f3956604d9ec/05b08c32-c0c7-4abb-9e60-d4ae0acbd299" /> 
				<li class="gt-mb-2">If organization's repo is private repo then need to set Gitea token so that remote machine can access.</li>
				<li class="gt-mb-2">First go to User's Settings > Applications. Select All on Repo and Organization Access, then give Read and Write permissions to all actions.</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/6811acb3-2ddc-410c-bd12-c692d53c5840/ff999004-64ae-42ad-94b7-b5b735dcfd01" />
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/24b3ed12-3b1e-4343-9170-b538a88dd6c4/9af453c2-45c1-41ee-a81a-450d35e87d91" />
				<li class="gt-mb-2">Then new token is generated and popped up. Copy the token.</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/0ab9cebe-f49c-4998-acce-a188fcab18b8/0358757e-7f71-491c-8ff7-1bfcb4040b8c" />
				<li class="gt-mb-2">Go to organization's setting, and select Gitea Token. And paste the token there.</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/c91a21e4-9287-4888-9b79-74f6af18362c/cc6ef79c-bd1c-4023-9937-a7cc242a656b" />
				<li class="gt-mb-2">
					Add Devpod Credential
					<ul>
						<li>Later the specified repository will be cloned using Git into a new container instance. To enable this, the container requires access to the repository using some credentials. These credentials also empower the container to push results back into the repository.</li>
					</ul>
				</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/f6a06d21-ea79-40ce-8119-aee5f74a7b23/ddf3b041-8c22-4434-9acc-5f898ee210cd" />
				<li class="gt-mb-2">To start computation on remote machine, look for Compute tab and select your added remote machine, then press Compute button.</li>
				<img class="gt-mb-5" src="https://uploads.linear.app/8b0427f2-b864-43cb-9048-aac5ec16eae9/873a70b2-0501-4e50-a8a4-72d1d1600d1e/c881b6dc-6707-4042-b5de-5edbc5de74dd" />
				<li>It will clone the repository, run the computation on remote machine, generate result, and automatically push all the changes to the repository.</li>
			</ul>			
		</article>
	</div>
</div>
{{template "base/footer" .}}
